// Fonts
// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Work Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;
$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;
$workSans: 'Work Sans', sans-serif;

// Font weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;


// Font size
$fs-8: 8px;
$fs-10: 10px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-25: 25px;
$fs-30: 30px;
$fs-32: 32px;
$fs-40: 40px;
$fs-68: 68px;

// Line height
$lh-14: 14px;
$lh-15: 15px;
$lh-16: 16px;
$lh-19: 19px;
$lh-20: 20px;
$lh-24: 24px;
$lh-28: 28px;
$lh-29: 29px;
$lh-32: 32px;
$lh-35: 35px;
$lh-39: 39px;
$lh-40: 40px;
$lh-50: 50px;
$lh-56: 56px;
$lh-83: 83px;

// Color
$bg: #ffffff;
$green: #156963;
$black: #000000;
$black-light: #2c1500;
$gray: #333333;
$smoke: #f2f2f2;
$smoke-border: #e0e0e0;
$bg-gray: #f3f4f6;
$black-footer: #4f4f4f;
$akana: #fafefe;

// Breakpoints
$xs: 320px;
$xs-max: 575.98px;
$sm: 576px;
$sm-max: 767.98px;
$md: 768px;
$md-max: 991.98px;
$lg: 992px;
$lg-max: 1199.98px;
$xl: 1200px;
$xl-max: 1399.98px;